#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


function flush_iptables {
    /sbin/iptables -P INPUT ACCEPT
    /sbin/iptables -P OUTPUT ACCEPT
    /sbin/iptables -P FORWARD ACCEPT
    /sbin/iptables -F
}

case "$1" in
    build)
        ;;

    package)
        cp -R etc ${pkgdir}/
        cp -R usr ${pkgdir}/
        ;;

    install)
        flush_iptables
        apt-get -y install dnsutils netfilter-persistent
        echo iptables-persistent iptables-persistent/autosave_v4 boolean true | debconf-set-selections
        echo iptables-persistent iptables-persistent/autosave_v6 boolean true | debconf-set-selections
        serverip=$(/sbin/ifconfig | grep "inet addr" | head -1 | cut -f 2 -d ":" | cut -f 1 -d " ")
        publicip=$(curl -s -S --user-agent "Mozilla/4.0" http://myip.incrediblepbx.com | awk 'NR==2')
        sed -i 's|8.8.4.4|'$serverip'|' /etc/iptables/rules.v4
        sed -i 's|74.86.213.25|'$publicip'|' /etc/iptables/rules.v4
        sed -i 's|-A INPUT -s  -j|#-A INPUT -s  -j|g' /etc/iptables/rules.v4
        sed -i 's|-A INPUT -s  -p|#-A INPUT -s  -p|g' /etc/iptables/rules.v4
        sed -i 's|-A INPUT -p udp -m udp --dport 69 -j ACCEPT|#-A INPUT -p udp -m udp --dport 69 -j ACCEPT|' /etc/iptables/rules.v4
        sed -i 's|1024|9999|' /etc/iptables/rules.v6
        /usr/local/sbin/iptables-restart
        ;;

    uninstall)
        flush_iptables
        apt-get remove -y dnsutils netfilter-persistent
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac

