#!/bin/bash
# SPDX-License-Identifier: GPL-3.0+


function flush_iptables {
    /sbin/iptables -P INPUT ACCEPT
    /sbin/iptables -P OUTPUT ACCEPT
    /sbin/iptables -P FORWARD ACCEPT
    /sbin/iptables -F
}

case "$1" in
    build)
        ;;

    package)
        cp -R etc ${pkgdir}/
        cp -R usr ${pkgdir}/
        ;;

    install)
        flush_iptables
        echo iptables-persistent iptables-persistent/autosave_v4 boolean true | /usr/bin/debconf-set-selections
        echo iptables-persistent iptables-persistent/autosave_v6 boolean true | /usr/bin/debconf-set-selections
        serverip=$(/sbin/ifconfig | grep "inet addr" | head -1 | cut -f 2 -d ":" | cut -f 1 -d " ")
        publicip=$(/usr/bin/curl -s -S --user-agent "Mozilla/4.0" http://myip.incrediblepbx.com | awk 'NR==2')
        sed -i 's|8.8.4.4|'$serverip'|' /etc/iptables/rules.v4
        sed -i 's|74.86.213.25|'$publicip'|' /etc/iptables/rules.v4
        /usr/local/sbin/iptables-restart
        ;;

    uninstall)
        flush_iptables
        systemctl restart fail2ban
        ;;

    *)
        echo "$0 called with unknown argument '$1'" >&2
        exit 1
    ;;
esac

